.bballdiv {
/*   display: flex;
  align-items: center;
  justify-content: center; */
  display: inline-block,
}

.basketball {
  position: relative;
  display: inline-flex;
  /* top: 50px; */
  /* left:-50px; */
}

.ball {
  position: absolute;
  background-color: #e76f51;
  border-radius:50%;
  width:40px;
  height:40px;
  left:6px;
  overflow: hidden;
  border: 1.5px solid #333;
  animation: bounce 2s ease-in infinite;
  bottom: 0%;
}

@keyframes bounce {
  0% {transform: translate3d(0, 0, 0) rotate(0deg);}
 25% {transform: translate3d(0, -50%, 0) rotate(90deg);}
 50% {transform: translate3d(0, 0, 0) rotate(180deg);}
 75% {transform: translate3d(0, -50%, 0) rotate(270deg);}
 100% {transform: translate3d(0, 0, 0) rotate(360deg);}
}

.ball:before, .ball:after {
  content:"";
  position: absolute;
  background-color: #333;
  width:50px;
  height:2px;
  top:17px;
  left:-6px;
}

.ball:before {
  transform: rotate(45deg);
}

.ball:after {
  transform: rotate(-45deg);
}

.lines {
  position: absolute;
  border-radius:50%;
  border: 1.5px solid #333;
  width: 30px;
  height:30px;
  left:-10px;
  top:-12px;
}

.lines:before {
  content:"";
  position: absolute; 
  border-radius:50%;
  border: 1.5px solid #333;
  width: 30px;
  height:30px;
  left:25px;
  top:30px;
}

.shadow {
  position: relative;
  width:50px;
  height:10px;
  background-color: rgba(0,0,0,0.2);
  border-radius:50%;
  bottom: -10px;
  /* top:95px; */
  /* z-index:-1; */
  /* left:3px; */
  animation: scale 2s ease-in infinite;
}

@keyframes scale {
  0% {transform: scaleX(1);}
  25% {transform: scaleX(0.7);}
  50% {transform: scaleX(1);}
  75% {transform: scaleX(0.7);}
  100% {transform: scaleX(1);}
}
